.list-box {
  padding: 2em;
}

.character-list a {
  text-decoration: none;
}

.character {
  margin: 1em 0 1em 0;
}

.card {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
}

.cover {
  min-width: 10em;
  height: 8em;
}

.sort-form {
  margin-top: 1em;
}

.form-control {
  width: 201px;
  float: right;
}
